
#card-grid {
    height: auto;
    margin: 50px 100px 50px 100px;
    justify-content:space-evenly;
    display: grid;
    grid-gap: 50px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, 250px);


}

.cards {   
    background: white;
    border: 6px solid black;
    border-radius: 5%;
    overflow: hidden;
    height: 300px;
    width: 100%;
    transition: transform;
    transition-duration: 0.5s;
    padding: 0px;
    margin: 0px;
}

.cards:hover {
    transition-duration: 0.2s;
    transform: translate(-4px, -20px);
}

.cards:active {
    transition-duration: 0.1s;
    transform: translate(0px, -10px)
}

.card-pics {
    border-bottom: 5px solid black;
    height: 70%;

}

#card1 > .card-pics {
    background: url("../img/rubik.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#card2 > .card-pics {
    background: url("../img/colorpicker.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#card3 > .card-pics {
    background: url("../img/nothere.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: large;
}

.card-titles {
    margin: 5% 2% 0% 2%
}